[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0.2"
django-filter = "*"
django-extensions = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
celery = "*"
lxml = "*"
panoptes-client = "*"
requests = "*"
sentry-sdk = "*"
amqp = "*"
atomicwrites = "*"
attrs = "*"
billiard = "*"
certifi = "*"
chardet = "*"
coverage = "*"
defusedxml = "*"
future = "*"
gunicorn = "*"
idna = "*"
importlib-metadata = "*"
inflection = "*"
kombu = "*"
libmagic = "*"
markdown = "*"
more-itertools = "*"
numpy = "*"
oauthlib = "*"
packaging = "*"
pillow = "*"
pluggy = "*"
psycopg2-binary = "*"
py = "*"
pyjwt = "*"
pyparsing = "*"
pyproj = "*"
python-magic = "*"
python3-openid = "*"
pytz = "*"
redis = "*"
redo = "*"
requests-oauthlib = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
urllib3 = "*"
vine = "*"
wcwidth = "*"
zipp = "*"
pylibtiff = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pspec = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
django-extensions = "*"

[requires]
python_version = "3.11"

[scripts]
console = "python manage.py shell_plus"
create_local_db = "createdb -U theia -O theia theia"
drop_local_db = "dropdb -U theia theia"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
purge_queue = "celery purge -f -A theia"
server = "bash -e ./start_server.sh"
tests = "pytest --cov=theia"
tree = "bash -c 'find . | grep -v git | grep -v cache'"
worker = "bash -c ./start_worker.sh"
