[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pspec = "*"

[packages]
django = "*"
pillow = "*"
numpy = "*"
requests = "*"
celery = "*"
oauthlib = "*"
panoptes-client = {editable = true,git = "https://github.com/zooniverse/panoptes-python-client.git"}
pytest = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.7"
