apiVersion: apps/v1
kind: Deployment
metadata:
  name: theia-staging-app
  labels:
    app: theia-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: theia-staging-app
  template:
    metadata:
      labels:
        app: theia-staging-app
    spec:
      containers:
        - name: theia-staging-app
          image: zooniverse/theia:__IMAGE_TAG__
          resources:
            requests:
              memory: "200Mi"
              cpu: "10m"
            limits:
              memory: "200Mi"
              cpu: "500m"
          env:
            - name: PANOPTES_URL
              value: https://panoptes-staging.zooniverse.org/
            - name: PANOPTES_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: theia-staging
                  key: PANOPTES_CLIENT_ID
            - name: PANOPTES_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: theia-staging
                  key: PANOPTES_CLIENT_SECRET
            - name: STAGING_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: theia-staging
                  key: STAGING_DB_USERNAME
            - name: STAGING_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: theia-staging
                  key: STAGING_DB_PASSWORD
            - name: STAGING_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: theia-staging
                  key: STAGING_DB_HOST
          volumeMounts:
            - name: theia-staging-volume
              mountPath: "/tmp"
      volumes:
        - name: theia-staging-volume
          persistentVolumeClaim:
            claimName: theia-staging-data-storage
---
apiVersion: v1
kind: Service
metadata:
  name: theia-staging-app
spec:
  selector:
    app: theia-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: theia-staging-data-storage
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 5Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: theia-staging-redis
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 250Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: theia-staging-redis
  labels:
    app: theia-staging-redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: theia-staging-redis
  template:
    metadata:
      labels:
        app: theia-staging-redis
    spec:
      tolerations:
      - key: "servicelife"
        operator: "Equal"
        value: "longlife"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: servicelife
                operator: In
                values:
                - longlife
      containers:
        - name: theia-staging-redis
          image: redis
          resources:
            requests:
              memory: "10Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
              cpu: "500m"
          volumeMounts:
          - name: theia-staging-redis-data
            mountPath: "/data"
      volumes:
      - name: theia-staging-redis-data
        persistentVolumeClaim:
          claimName: theia-staging-redis
---
apiVersion: v1
kind: Service
metadata:
  name: theia-staging-redis
spec:
  selector:
    app: theia-staging-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: NodePort